// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/include-media/dist/_include-media.scss";
// endbower

$icon-font-path:    '../fonts/';
$icon-image-path:   '../images/';

// Bebas Neue
@font-face {
    font-family: 'Bebas-Neue-Thin';
    src: font-url('#{$icon-font-path}BebasNeue/BebasNeue-Thin.ttf') format('ttf');
}

@font-face {
    font-family: 'Bebas-Neue-Light';
    src: font-url('#{$icon-font-path}BebasNeue/BebasNeue-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'Bebas-Neue-Regular';
    src: font-url('#{$icon-font-path}BebasNeue/BebasNeue-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Bebas-Neue-Bold';
    src: font-url('#{$icon-font-path}BebasNeue/BebasNeue-Bold.ttf') format('ttf');
}

// Montserrat
@font-face {
    font-family: 'Montserrat-Regular';
    src: font-url('#{$icon-font-path}Montserrat/Montserrat-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: font-url('#{$icon-font-path}Montserrat/Montserrat-Bold.ttf') format('ttf');
}

//SourceSansPro
@font-face {
    font-family: 'SourceSansPro-Light';
    src: font-url('#{$icon-font-path}SourceSansPro/SourceSansPro-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: font-url('#{$icon-font-path}SourceSansPro/SourceSansPro-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'SourceSansPro-Bold';
    src: font-url('#{$icon-font-path}SourceSansPro/SourceSansPro-Bold.ttf') format('ttf');
}

// variables

// size and spacing
$large-breakpoint:        1200px;
$medium-breakpoint:       992px;
$small-breakpoint:        768px;
$xsmall-breakpoint:       320px;
$container-md-max-width:  $medium-breakpoint;
$container-lg-max-width:  $large-breakpoint;

// FONTS

// family
$font-family-thin:              'SourceSansPro-Thin';
$font-family-regular:           'SourceSansPro-Regular';
$font-family-bold:              'SourceSansPro-Bold';
$font-family-titles-regular:    'SourceSansPro-Bold';
$font-family-titles-bold:       'SourceSansPro-Bold';

// Sizes and Spacing 

// size
$font-size-extra-small:   12px;
$font-size-small:         14px;
$font-size-regular:       16px;
$font-size-large:         20px;
$font-size-extra-large:   32px;

// spacing
$default-vertical-gutter:   20px;
$default-horizontal-gutter: 20px;
$border-radius-regular:     5px;

// colors pallet
$white:       #ffffff;
$black:       #000000;
$light-gray:  #a9a9a9;
$gray:        #ebebeb;
$dark-gray:   #404040;
$blue:        #4695d1;
$light-blue:  #edf7ff;

$default-text-color:              $dark-gray;
$secondary-text-color:            $white;
$default-title-color:             $dark-gray;
$default-subtitle-color:          $blue;
$info-section-border-color:       $light-gray;
$percentage-circle-color:         $light-gray;
$percentage-circle-color-active:  $blue;
$header-background-color:         $light-blue;
$footer-background-color:         $blue;

$blocks-color-background:         $white;
$border-color-background:         $light-blue;

// icons names
$path-icon-pencil:       $icon-image-path+'icon-pencil.png';
$path-icon-files:        $icon-image-path+'icon-files.png';
$path-icon-layers:       $icon-image-path+'icon-layers.png';
$path-icon-bulb:         $icon-image-path+'icon-bulb.png';

// BreakPoints
$breakpoints: (xsmall: $xsmall-breakpoint, small: $small-breakpoint, medium: $medium-breakpoint, large: $large-breakpoint);


html, body {
  font-size: $font-size-large;
  font-family: $font-family-regular;
  color: $default-text-color;
}

body {
  background:
  linear-gradient(135deg, $blocks-color-background 22px, $border-color-background 22px, $border-color-background 24px, transparent 24px, transparent 67px, $border-color-background 67px, $border-color-background 69px, transparent 69px),
  linear-gradient(225deg, $blocks-color-background 22px, $border-color-background 22px, $border-color-background 24px, transparent 24px, transparent 67px, $border-color-background 67px, $border-color-background 69px, transparent 69px)0 64px;
  background-color: $blocks-color-background;
  background-size: 64px 128px
}

p {
  margin: 0;
  text-transform: initial;
}

address {
  font-size: $font-size-regular;
}

a {
  text-decoration: none;
  color: $default-text-color;
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    color: $default-text-color;
  }
}

h1, h2, h3, h4 {
  margin: 0;
  font-family: $font-family-titles-regular;
  text-transform: uppercase;
}

h3, h4 {
  font-family: $font-family-regular;
  text-transform: capitalize;
}

.site-wrapper {
  margin: 0 auto;
}

.header {
  padding-top: $default-vertical-gutter*2;
  padding-bottom: $default-vertical-gutter*1.5;
  margin-bottom: $default-vertical-gutter*3;
  background-color: $header-background-color;
  h1 {
    font-size: $font-size-large*2;
  }
}

.main-content {
  margin-bottom: $default-vertical-gutter*1.5;
}

.info-section {
  position: relative;
  margin-bottom: $default-vertical-gutter*2.5;

  .section-title {
    font-size: $font-size-extra-large;
    color: $default-title-color;
    margin-bottom: $default-vertical-gutter*2;
    padding: $default-vertical-gutter/2 0;
  }
  
  .info-title {
    font-family: $font-family-titles-bold;
    font-size: $font-size-large;
    margin-bottom: $default-vertical-gutter/2;
  }
  
  .info-subtitle {
    font-family: $font-family-titles-bold;
    font-size: $font-size-large;
    color: $default-subtitle-color;
    margin-bottom: $default-vertical-gutter/2;
  }

  &.bottom-bordered {
    padding-top: $default-vertical-gutter;
    margin-top: $default-vertical-gutter;
    margin-bottom: $default-vertical-gutter;
  }
}

.skill-set {
  text-align: center;
}

.rounded-percent {
  $circle-width-size: 110px;
  $circle-border-width: 8px;
  position: relative;
  border: $circle-border-width solid $percentage-circle-color;
  border-radius: 50%;
  width: $circle-width-size;
  height: $circle-width-size;
  text-align: center;
  line-height: 1;
  font-size: $font-size-extra-large;
  padding: $font-size-extra-large 0;
  display: block;
  margin: 0 auto $default-vertical-gutter*2;
  &:before,
  &:after {
    content: '';
    display: block;
    border-radius: 0% 100% 0% 0% / 0% 100% 0% 0%;
    border: $circle-border-width solid $percentage-circle-color-active;
    border-width: $circle-border-width $circle-border-width 0 0;
    width: $circle-width-size/2;
    height: $circle-width-size/2;
    position: absolute;
    top: -$circle-border-width;
    right: -$circle-border-width;
    transform-origin: 0 50%;
  }
  &:after {
    right: -$circle-border-width;
  }
  &.percent-40 {
    &:after {
      transform: rotateZ(54deg);
      transform-origin: left bottom;
    }
  }
  &.percent-50,
  &.percent-60,
  &.percent-75,
  &.percent-80,
  &.percent-95,
  &.percent-100 {
    &:before,
    &:after {
      border-radius: 0% 100% 100% 0% / 0% 50% 50% 0%;
      border: $circle-border-width solid $percentage-circle-color-active;
      border-width: $circle-border-width $circle-border-width $circle-border-width 0;
      height: $circle-width-size;
    }
  }
  &.percent-60 {
    &:after {
      transform: rotateZ(36deg);
    }
  }
  &.percent-75 {
    &:after {
      transform: rotateZ(90deg);
    }
  }
  &.percent-80 {
    &:after {
      transform: rotateZ(108deg);
    }
  }
  &.percent-95 {
    &:after {
      transform: rotateZ(162deg);
    }
  }
  &.percent-100 {
    &:after {
      transform: rotateZ(180deg);
    }
  }
}

.icon {
  $icon-size: 55px;
  display: block;
  width: $icon-size;
  height: $icon-size;
  margin: 0 auto;
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url($path-icon-pencil);
  max-width: 100%;
  &.icon-pencil {
    background-image: url($path-icon-pencil);
  }
  &.icon-files {
    background-image: url($path-icon-files);
  }
  &.icon-layers {
    background-image: url($path-icon-layers);
  }
  &.icon-bulb {
    background-image: url($path-icon-bulb);
  }
}

.footer {
  color: $secondary-text-color;
  background-color: $footer-background-color;
  padding: $default-vertical-gutter*1.5 0;

  a {
    color: $secondary-text-color;
    &:hover,
    &:focus,
    &:active {
      color: $secondary-text-color;
    }
  }
}

/* Responsive: Portrait tablets and up */

@include media(">=small") {

  html, body {
    font-size: $font-size-regular;
  }

  .site-wrapper {
    max-width: $container-md-max-width;
  }

  .skill-set {
    text-align: left;
    padding-left: 0;
    .info-section {
      margin-left: 0;
    }
  }

  .info-section {
    
    .section-title {
      padding: $default-vertical-gutter/2 0;
      margin-bottom: $default-vertical-gutter/2;
    }

    .info-title {
      font-size: $font-size-regular;
    }

    .info-subtitle {
      font-size: $font-size-regular;
    }

    &.bottom-bordered {
      border-top: 1px solid $info-section-border-color;
    }

    &.bottom-bordered:last-child {
      border-bottom: 1px solid $info-section-border-color;
      padding-bottom: $default-vertical-gutter;
    }
  }
  .rounded-percent {
    $circle-width-size: 55px;
    $circle-border-width: 6px;
    border: $circle-border-width solid $percentage-circle-color;
    width: $circle-width-size;
    height: $circle-width-size;
    font-size: $font-size-regular;
    padding: ($circle-width-size - $font-size-regular - ($circle-border-width*2))/2 0;
    margin: 0 auto;
    &:before,
    &:after {
      border-radius: 0% 100% 0% 0% / 0% 100% 0% 0%;
      border: $circle-border-width solid $percentage-circle-color-active;
      border-width: $circle-border-width $circle-border-width 0 0;
      width: $circle-width-size/2;
      height: $circle-width-size/2;
      top: -$circle-border-width;
      right: -$circle-border-width;
    }

    &:after {
      right: -$circle-border-width;
    }

    &.percent-50,
    &.percent-60,
    &.percent-75,
    &.percent-80,
    &.percent-95,
    &.percent-100 {
      &:before,
      &:after {
        border-radius: 0% 100% 100% 0% / 0% 50% 50% 0%;
        border: $circle-border-width solid $percentage-circle-color-active;
        border-width: $circle-border-width $circle-border-width $circle-border-width 0;
        height: $circle-width-size;
      }
    }
  }
}
@include media(">=large") {  
  .site-wrapper {
    max-width: $container-lg-max-width;
  }
}

@include media("<medium") {
  address {
    margin: $default-vertical-gutter 0 0;
  }
}
