@import './vendor/';
@import './fonts/';
@import './variables/';

html, body {
  font-size: $font-size-regular;
  font-family: $font-family-regular;
  color: $default-text-color;
}

body {
  background-image: url("../images/background.png");
  background-size: 40px;
  background-attachment: fixed;
}

.header {
  margin-bottom: $default-vertical-gutter*3;

  h1 {
    font-size: $font-size-large*2;
  }
}

.main-content {
  margin-bottom: $default-vertical-gutter*1.5;
}

.info-section {
  position: relative;
  margin-bottom: $default-vertical-gutter*2.5;

  .fas {
    font-size: 2.2em;
    color: $info-section-icons-color;
  }
}
.section-title {
  font-size: $font-size-extra-large;
  color: $default-title-color;
  margin-bottom: $default-vertical-gutter/2;
}

.info-title {
  font-family: $font-family-titles-bold;
  font-size: $font-size-regular;
  margin-bottom: $default-vertical-gutter/2;
}

.info-subtitle {
  font-family: $font-family-titles-bold;
  font-size: $font-size-regular;
  color: $default-subtitle-color;
  margin-bottom: $default-vertical-gutter/2;
}

.bottom-bordered {
  border-bottom: 1px solid $info-section-border-color;
  padding-bottom: $default-vertical-gutter*1.5;
  margin-bottom: $default-vertical-gutter*2;
}

footer {
  color: white;
  background-color: $footer-background-color;
  padding: $default-vertical-gutter*1.5 0;

  address {
    margin: 0;
  }

  a {
    color: $secondary-text-color;
    &:hover,
    &:focus,
    &:active {
      color: $secondary-text-color;
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .site-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: $default-vertical-gutter*2 0 0;
  }
}