// colors pallet
$white:       #ffffff;
$black:       #000000;
$light-gray:  #a9a9a9;
$gray:        #ebebeb;
$dark-gray:   #404040;
$blue:        #4695d1;

$default-text-color:        $dark-gray;
$secondary-text-color:      $white;
$default-title-color:       $dark-gray;
$default-subtitle-color:    $blue;
$info-section-border-color: $light-gray;
$footer-background-color:   $blue;
$info-section-icons-color:  $blue;